/**/.idea
/**/dist
/**/bin
/**/node_modules
/**/.dockman.yaml
compose/*
/**/test-compose
/dock/
dock/*
/backend/**/*compose.yml
install/stacks/
/config/
/install/config/
/core/compose
/core/internal/docker/controller-docker-compose.yml
/**/hosts.yaml
/**/build
/**/appdata
/ui/'../
/**/.task
