/**/.idea
/**/dist
/**/bin
/**/node_modules
/**/.dockman.yaml
compose/*
/**/test-compose
/dock/
dock/*
/backend/**/*compose.yml
install/stacks/
/config/
/install/config/
/core/compose
/core/internal/docker/controller-docker-compose.yml
/**/hosts.yaml
/**/build
/**/appdata
/ui/'../
/**/.task
/core/internal/git/git_test/
/install/docker/data/dockman/dockman.db
/install/docker/data/dockman/dockman.db-shm
/install/docker/data/dockman/dockman.db-wal
/install/docker/stacks/
/core/internal/git/tests/
/core/internal/backup/tests/
/install/docker/
/core/internal/git/test/
/core/internal/git/test/compose2/
/core/internal/git/test/compose